
header {
    margin-top: 20px; 
    padding: 10px 0; 
}
body {
    background-color: #EEF8FF !important;
}

.menu-icon {
    font-size: 24px;
}

.current-weather {
    margin-top: 35px; /* Increase spacing between search bar and current weather section */
}

.current-weather h1 {
    font-size: 48px;
}

.current-weather input {
    max-width: 150px;
    text-align: center;
}

.hourly-forecast p {
    margin: 0;
}

@media (max-width: 576px) {
    .current-weather h1 {
        font-size: 36px;
    }

    .current-weather input {
        width: 100%;
    }
}
